.login-container {
  max-width: 400px;
  position: center;
  margin: 0 auto;
  padding: 40px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #909094;
  color: #000
}

.login-container h2 {
  text-align: center;
  color: #000;
  margin-bottom: 20px;
}

.login-container form {
  display: flex;
  flex-direction: column;
}

.login-container label {
  margin-bottom: 10px;
}

.login-container input {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.login-container button {
  padding: 10px;
  background-color: #333;
  color: #ffffff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.login-container button:hover {
  background-color: #CCA464;
  color: #000
}

.p1l {
  color: #000000;
  font-size: 16px;
}

.login-container a {
  color: #ffffff;
  font-size: 16px;
}

.login-container a:hover {
  /* background-color: #3f3f3f; */
  color: #ffc260;
}

.pb{
  color: #fff
}

.pb a{
  color: #fff;
  text-decoration: none;
}

.pb a:hover{
  color: #fff
}

.bthl{
  color: #000000
}

.bthl a{
  color: #000000;
  text-decoration: none;
}
.offscreen {
  position: absolute;
  left: -9999px;
}
.errmssg {
  background-color: lightpink;
  color: firebrick;
  font-weight: bold;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.bthl a:hover{
  color: #fff
}