.divNavbar {
  background-color: #590381;
  padding: 10px;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

.divNavbar ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

.divNavbar li {
  margin-right: 10px;
}

.divNavbar a {
  text-decoration: none;
  color: #f7f1f1;
  padding: 5px 10px;
}

.divNavbar a:hover,
.divNavbar a.active {
  background-color: #ed0a52;
  color: #ffffff;
}
