.divNavbar {
  background-color: #CCA464;
  padding: 10px;
  position: absolute;
  width: 100%; /* Fix the navbar's position */
  top: 0; /* Position it at the top */
  left: 0;
}

.divNavbar ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

.divNavbar li {
  margin-right: 10px;
  
}

.divNavbar a {
  text-decoration: none;
  color: #333;
  padding: 5px 10px;
}

.divNavbar a:hover {
  background-color: #3f3f3f;
  color: #CCA464;
}
