.register-container {
    max-width: 400px;
    width: 100%;
    position: center;
    margin: 0 auto;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #590381;
    color: #ed0a52
  }
.register-container h2 {
    text-align: center;
    color: #ed0a52;
    margin-bottom: 1px;
    margin-top: 1px;
  }
  
.register-container form {
    display: flex;
    flex-direction: column;
  }
  
.register-container label {
    margin-bottom: 1px;
  }
  
.register-container input {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }

  
/* body {
    min-height: 100vh;
    background-color: rgb(16, 33, 50);
} */

/* .App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh; 
  padding: 1rem 0.5rem;
} */

.register-container button {
    padding: 10px;
    background-color: #ed0a52;
    color: #ffffff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }

.register-container button:hover {
    background-color:#e71d5d;
    ;
}

/* 
section {
    width: 100%;
    max-width: 420px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1rem;
    background-color: rgba(0,0,0,0.4);
} */

/* form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-grow: 1;
    padding-bottom: 1rem;
} */

.loginAS {
    color: #fff;
}

.loginAS a{
    color: #fff;
    text-decoration: none;
}

.loginAS a:hover{
    color: #000;
}

.p1r{
    color: #ffffff
}

.p1r a{
    color: #ffffff;
    text-decoration: inherit;
}
.p1r a:hover{
    color: #fff
}

.p2r{
    color: #000000
}

.p2r a{
    color: #ffffff;
    text-decoration: inherit;
}
.p2r a:hover{
    color: #fff
}
/* label,
button {
  margin-top: 1rem;
} */

/* button {
  padding: 0.5rem;
} */

.instructions {
    font-size: 0.75rem;
    border-radius: 0.5rem;
    background: #000;
    color: #fff;
    padding: 0.25rem;
    position: relative;
    bottom: -10px;
}

.instructions > svg {
    margin-right: 0.25rem;
}

.offscreen {
    position: absolute;
    left: -9999px;
}

.hide {
    display: none;
}

.valid {
    color: limegreen;
    margin-left: 0.25rem;
}

.invalid {
    color: red;
    margin-left: 0.25rem;
}

.errmsg {
    background-color: lightpink;
    color: firebrick;
    font-weight: bold;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

.line {
    display: inline-block;
}

