/* routess.css */

.routes-container {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(239, 229, 229, 0.1);
  background-color: #3d1256;
}

.route-title {
  color: #ed0a52;
  text-align: center;
  margin-top: 5px;
  font-size: 30px;
}

.routess-table {
  width: 100%;
}

.routess-table td {
  border: none;
}

.label {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.label > .route-label {
  width: 150px;
  text-align: right;
  margin-right: 10px;
  /* color: #f8f7f8; */
}

.route-input-container {
  display: flex;
  align-items: center;
  padding: 3px;
}

.route-input-container input {
  width: 100%;
  box-sizing: border-box;
}

.route-input-container input,
.route-input-container select {
  padding: 3px;
  border-radius: 4px;
}

.custom-select {
  width: 100%;
  max-width: 700px;
}

.custom-select .Select__control {
  background-color: #f9f6fa;
  border: none;
}

.custom-select .Select__single-value {
  color: #590381;
}

.custom-select .Select__menu {
  background-color: #f9f6fa;
  
}

.custom-select .Select__option--is-selected {
  background-color: #590381;
  color: #fff;
}

.route-center-button {
  display: block;
  margin: 20px auto;
  color: white;
  background-color: #ed0a52;
}
